@charset "UTF-8";
/*color*/
/*breakpoint*/
/*police*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes heart-animation {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart-animation {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  font-family: "Roboto", "Shrikhand", sans-serif;
  @ù;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/*button header */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 10px 5px -8px #c5c4c4;
          box-shadow: inset 0 10px 5px -8px #c5c4c4;
}

@media (min-width: 1024px) {
  .location {
    width: 300px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }
}

.location__input {
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: inherit;
  width: 150px;
}

.btn-principal {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.btn-principal__text {
  font-size: 16px;
  padding: 18px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background: -o-linear-gradient(#ff79da, #9356dc);
  background: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0 5px 5px #c6c6c6;
          box-shadow: 0 5px 5px #c6c6c6;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-weight: bold;
  width: 218px;
  text-align: center;
}

.btn-principal__text:hover {
  background: -webkit-linear-gradient(280deg, #ffa2e5, #a978e3);
  background: -o-linear-gradient(280deg, #ffa2e5, #a978e3);
  background: linear-gradient(170deg, #ffa2e5, #a978e3);
  -webkit-box-shadow: 0 3px 8px #474747;
          box-shadow: 0 3px 8px #474747;
}

@media (min-width: 768px) {
  .btn-principal__text:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.loader {
  position: fixed;
  background-color: white;
  height: 100vh;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  -webkit-animation: disappear 200ms 3s forwards;
          animation: disappear 200ms 3s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.loader__item {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin: 20px;
  -webkit-animation: scaling 1.8s ease-in-out infinite;
          animation: scaling 1.8s ease-in-out infinite;
}

.loader__item:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader__item:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader__item:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader__item:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #9356dc;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #ff79da;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #99e2d0;
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #9356dc;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #ff79da;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #99e2d0;
  }
}

.restaurant {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 17px;
}

.restaurant__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}

@media (min-width: 1024px) {
  .restaurant__bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.resto-card {
  height: 250px;
  border-radius: 17px;
  position: relative;
  -webkit-box-shadow: 0 5px 7px #c6c6c6;
          box-shadow: 0 5px 7px #c6c6c6;
  background-color: white;
}

@media (min-width: 1024px) {
  .resto-card {
    width: 50%;
    margin: 20px;
  }
}

.resto-card__img {
  height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17px 17px 0 0;
}

.resto-card__description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  border-radius: 0 0 17px 17px;
  margin-right: 20px;
}

.resto-card__description .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  color: #c6c6c6;
}

.resto-card__description .fullHeart {
  font-size: 1.7rem;
  position: absolute;
  background: -webkit-linear-gradient(280deg, #ff79da, #9356dc);
  background: -o-linear-gradient(280deg, #ff79da, #9356dc);
  background: linear-gradient(170deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.resto-card__description .fullHeart:hover {
  opacity: 1;
  -webkit-animation: heart-animation 500ms ease-out forwards;
          animation: heart-animation 500ms ease-out forwards;
}

.resto-card__reference {
  margin-left: 20px;
  color: black;
}

.resto-card__lien {
  text-decoration: none;
}

.resto-card__label {
  font-weight: bold;
  position: absolute;
  right: 11px;
  top: 14px;
  border: 1px solid #99e2d0;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #4cb49b;
  padding: 10px;
}

.resto-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.resto-card__title {
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: 25px;
}

.footer {
  background-color: #353535;
  padding: 25px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 26px 0;
}

@media (min-width: 768px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__titre {
  font-family: "Shrikhand", "Roboto", sans-serif;
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  .footer__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__icon {
  list-style-type: none;
  margin-top: 14px;
}

.footer__text {
  color: white;
  text-decoration: none;
}

.fas.fa-hands-helping {
  margin-right: 10px;
}

.fas.fa-utensils {
  margin-right: 16px;
}

/*================header page d'accueil===========================*/
.logo {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*=================header page menu=========================*/
}

.logo__img {
  padding: 12px;
  height: 60px;
  position: relative;
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: 30px;
}

.logo__back-link {
  color: black;
  position: absolute;
  left: 21px;
}

.logo__back-link:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.header-menu__card-img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fonctionnement {
  padding: 20px;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .fonctionnement {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    margin: 0;
    padding: 0;
  }
}

.btn-bloc {
  margin-top: 23px;
  padding: 0;
}

.btn-bloc__fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 23px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: #f6f6f6;
  border: none;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 5px 7px #c6c6c6;
          box-shadow: 0 5px 7px #c6c6c6;
  margin: 20px 0;
}

.btn-bloc__fonctionnement:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #f5edff;
}

.btn-bloc__fonctionnement:hover > .fas {
  color: #9356dc;
}

.btn-bloc__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
  margin-right: 25px;
  margin-left: -12px;
}

.btn-bloc__text {
  font-weight: bold;
}

.btn-bloc__icon {
  margin-right: 25px;
  color: #7e7e7e;
}

.fas.fa-mobile-alt {
  font-size: 1.2rem;
  margin-right: 30px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 3rem;
  text-align: center;
}

.description__text {
  margin-top: 1rem;
  font-size: 20px;
  color: #6e6e6e;
}

@media (min-width: 1024px) {
  .description {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 7px #c6c6c6;
            box-shadow: 0px 5px 7px #c6c6c6;
    height: 277px;
    margin-top: 50px;
    padding: 30px;
  }
}

.section-restaurant {
  background-color: #f6f6f6;
  padding: 53px 20px 63px 20px;
}

@media (min-width: 1024px) {
  .section-restaurant .sous-titre {
    text-align: center;
  }
}

.menu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 25px 25px 0 0;
  margin-top: -30px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
}

.menu-card {
  padding: 0 18px 18px 18px;
}

@media (min-width: 1024px) {
  .menu-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .menu-bloc {
    width: 30%;
  }
}

.menu-bloc__description {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  height: 68px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 7px #c6c6c6;
          box-shadow: 0 5px 7px #c6c6c6;
  -webkit-animation: appear 1s ease-in-out forwards;
          animation: appear 1s ease-in-out forwards;
  overflow: hidden;
}

.menu-bloc__description:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.menu-bloc__description:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu-bloc__description:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.menu-bloc__description:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu-bloc__description:nth-child(5) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.menu-bloc__description:nth-child(6) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.menu-bloc__description:nth-child(7) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.menu-bloc__description:nth-child(8) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.menu-bloc__description:nth-child(9) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

.menu-bloc__description:nth-child(10) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.menu-bloc__description:hover > .menu-bloc__valeur {
  margin-right: 0;
}

.menu-bloc__description:hover .item-price {
  -webkit-animation: quaterspin 0.5s ease-in-out;
          animation: quaterspin 0.5s ease-in-out;
}

.menu-bloc__text {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.3;
}

.menu-bloc__title {
  margin-top: 36px;
  font-weight: 300;
}

.menu-bloc__valeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: -3rem;
  -webkit-transition: margin-right 0.3s;
  -o-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
}

.menu-bloc__price {
  padding: 1rem;
  font-weight: bold;
}

.menu-bloc__validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  color: white;
  width: 3rem;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.menu-bloc__meal {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.menu-bloc .menu-bloc__title::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  border: 2px solid #99e2d0;
  margin-top: 8px;
  width: 40px;
}

@-webkit-keyframes quaterspin {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes quaterspin {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 1024px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */