@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/*breakpoint*/
* {
  font-family: "Roboto", "Shrikhand", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/*button header */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 10px 5px -8px #c5c4c4;
          box-shadow: inset 0 10px 5px -8px #c5c4c4;
}

@media (min-width: 1024px) {
  .location {
    width: 300px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }
}

.location__input {
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: inherit;
  width: 150px;
}

.btn {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__btn-principal {
  font-size: 16px;
  padding: 18px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background: -o-linear-gradient(#ff79da, #9356dc);
  background: linear-gradient(#ff79da, #9356dc);
  cursor: pointer;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0 5px 5px #c6c6c6;
          box-shadow: 0 5px 5px #c6c6c6;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-weight: bold;
  width: 218px;
}

@media (min-width: 768px) {
  .btn__btn-principal:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }
}

.footer {
  background-color: #353535;
  padding: 25px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 26px 0;
}

@media (min-width: 768px) {
  .footer ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-bloc__footer-titre {
  font-family: "Shrikhand", "Roboto", sans-serif;
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  .footer-bloc__footer-titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-bloc__footer-icon {
  list-style-type: none;
  margin-top: 14px;
}

.footer-bloc__footer-text {
  color: white;
  text-decoration: none;
}

.fas.fa-hands-helping {
  margin-right: 10px;
}

.fas.fa-utensils {
  margin-right: 16px;
}

/*header accueil*/
.logo {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  padding: 12px;
  height: 60px;
  position: relative;
}

.logo__header-fleche {
  color: black;
  position: absolute;
  left: 21px;
}

.logo__header-fleche:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

/*header menu*/
.header-menu__card-img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fonctionnement {
  padding: 20px;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .fonctionnement {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    margin: 0;
    padding: 0;
  }
}

.btn-bloc {
  margin-top: 23px;
}

.btn-bloc__btn-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 23px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: #f6f6f6;
  border: none;
  -webkit-box-shadow: 0px 5px 7px #c6c6c6;
          box-shadow: 0px 5px 7px #c6c6c6;
}

.btn-bloc__btn-fonctionnement:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #ff79da;
}

.btn-bloc__btn-icon {
  margin-right: 25px;
  color: #7e7e7e;
}

.btn-bloc__btn-icon :hover {
  color: #9356dc;
}

.btn-bloc__btn-number {
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
  margin-right: 25px;
  margin-left: -12px;
}

.btn-bloc__btn-text {
  font-weight: bold;
}

.fas fa-mobile-alt {
  font-size: 1.2rem;
  margin-right: 30px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 3rem;
  text-align: center;
}

.description__p {
  margin-top: 1rem;
  font-size: 20px;
  color: #6e6e6e;
}

@media (min-width: 1024px) {
  .description {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 7px #c6c6c6;
            box-shadow: 0px 5px 7px #c6c6c6;
    height: 277px;
    margin-top: 50px;
    padding: 30px;
  }
}

.section-restaurant {
  background-color: #f6f6f6;
  padding: 53px 20px 63px 20px;
}

@media (min-width: 1024px) {
  .section-restaurant h2 {
    text-align: center;
  }
}

.restaurant {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 17px;
}

.restaurant__card {
  height: 250px;
  border-radius: 17px;
  position: relative;
  -webkit-box-shadow: 0 5px 7px #c6c6c6;
          box-shadow: 0 5px 7px #c6c6c6;
  background-color: white;
}

@media (min-width: 1024px) {
  .restaurant__card {
    width: 50%;
    margin: 20px;
  }
}

.restaurant__card-img {
  height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17px 17px 0 0;
}

.restaurant__card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 20px;
}

.restaurant__card-description .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  -o-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}

.restaurant__card-description .emptyHeart:hover {
  color: transparent;
}

.restaurant__card-description .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.restaurant__card-description .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(280deg, #ff79da, #9356dc);
  background: -o-linear-gradient(280deg, #ff79da, #9356dc);
  background: linear-gradient(170deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  -o-transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}

.restaurant__card-reference {
  color: black;
  margin-left: 20px;
}

.restaurant__card-lien {
  text-decoration: none;
}

.restaurant__card-label {
  font-weight: bold;
  position: absolute;
  right: 11px;
  top: 14px;
  border: 1px solid #99e2d0;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #4cb49b;
  padding: 10px;
}

.restaurant__card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.restaurant__card-title {
  font-family: "shrikhand", "Roboto", sans-serif;
}

.restaurant__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}

@media (min-width: 1024px) {
  .restaurant__bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.menu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -30px;
  background-color: white;
  border-radius: 25px 25px 0 0;
  position: relative;
  z-index: 1;
}

.card-reference h1 {
  font-family: "shrikhand", "Roboto", sans-serif;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .menu-bloc {
    width: 30%;
  }
}

.menu-bloc__menu-description {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  padding: 10px;
  height: 70px;
  -webkit-box-shadow: 0 5px 7px #c6c6c6;
          box-shadow: 0 5px 7px #c6c6c6;
}

.menu-bloc__menu-text {
  line-height: 1.5rem;
}

.menu-bloc__menu-title {
  margin-top: 36px;
}

.menu-bloc__menu-line {
  border: 2px solid #99e2d0;
  margin-top: 8px;
  width: 40px;
}

.menu-card {
  padding: 0 18px 18px 18px;
}

@media (min-width: 1024px) {
  .menu-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
}

.loader {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0.9;
  -webkit-animation: disappear 200ms 3s forwards;
          animation: disappear 200ms 3s forwards;
}

.loader__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.loader__item {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin: 10px;
  -webkit-animation: scaling 1.2s ease-in-out infinite;
          animation: scaling 1.2s ease-in-out infinite;
}

/*
   &:nth-child(1){
    animation-delay: 0.2s;
  }
  &:nth-child(2){
    animation-delay: 0.4s;
  }
  &:nth-child(3){
    animation-delay: 0.6s;
  }
  &:nth-child(4){
    animation-delay: 0.8s;
  }
  &:nth-child(5){
    animation-delay: 1s;
  }
 }
}*/
@-webkit-keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #9356dc;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    background-color: #ff79da;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #99e2d0;
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #9356dc;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    background-color: #ff79da;
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #99e2d0;
  }
}
/*# sourceMappingURL=main.css.map */