@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

@import "./utils/variables";
@import "./utils/mixin";
@import "./base/config";
@import "./component/button";
@import "./layouts/footer";
@import "./layouts/header";
@import "./pages/accueil-fonctionnement";
@import "./pages/accueil-description";
@import "./pages/section-restaurant";
@import "./pages/menu-page";



.loader {
 position: fixed;
 background-color: #fff;
 height : 100vh;
 right : 0;
 left : 0;
 z-index : 2;
 opacity: 0.9;
 animation : disappear 200ms 3s forwards;

 &__bloc {
  display: flex;
  justify-content: center;
  align-content: center;
 }

 &__item {
   background-color: #fff;
   width : 40px;
   height: 40px;
   border-radius: 50%;
   display:inline-block;
   transform: scale(1);
   margin :10px;
   animation : scaling 1.2s ease-in-out infinite;
 }
}
/*
   &:nth-child(1){
    animation-delay: 0.2s;
  }
  &:nth-child(2){
    animation-delay: 0.4s;
  }
  &:nth-child(3){
    animation-delay: 0.6s;
  }
  &:nth-child(4){
    animation-delay: 0.8s;
  }
  &:nth-child(5){
    animation-delay: 1s;
  }
 }
}*/


@keyframes disappear {
to{ 
  transform: scale(0);
}
}

@keyframes scaling {
  0%{ transform: scale(0.2);
  background-color: $color-primary;
  }
  50%{transform: scale(0.8);
  background-color: $color-secondary;  
  }
  100%{ transform: scale(0.2);
  background-color: $color-tertiary;
  }
}



