@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/*============================Général====================================*/

* {
    font-family: "Roboto", "Shrikhand", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.logo {
    margin-top:1rem;
    display: flex;
    justify-content: center;
    height: 63px;
    &__img {
      padding: 12px;
    }
  }

  .location{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
   
    background-color: blue ;
    
  
  }
  #map{
    font-size:20px;
    text-align: center;
    border:none;
    background-color: inherit;
   
  }
  .fas.fa-map-marker-alt {
    font-size: 20px;
   
  }