@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", "Shrikhand", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*button header */
.location {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0 10px 5px -8px #c5c4c4;
}
.location__input {
  font-size: 20px;
  text-align: center;
  border: none;
  background-color: inherit;
}

/*bouton accueil description - créer une mixin - media*/
.btn {
  margin-top: 2rem;
}
.btn__btn-principal {
  font-size: 20px;
  padding: 1rem;
  color: #fff;
  background: red;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  box-shadow: 0 5px 5px red;
  transition: 1s;
  font-weight: bold;
}
@media (min-width: 768px) {
  .btn__btn-principal:hover {
    transform: scale(1.15);
  }
}

/*================section======================*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 25px 0 36px 23px;
}
.footer ul {
  padding: 0;
  margin-top: 26px;
}

.footer-bloc__footer-titre {
  font-family: "Shrikhand", "Roboto", sans-serif;
  color: white;
  font-size: 22px;
}
.footer-bloc__footer-icon {
  list-style-type: none;
  margin-top: 14px;
}
.footer-bloc__footer-text {
  color: white;
  text-decoration: none;
}

.fas.fa-hands-helping {
  margin-right: 10px;
}

.fas.fa-utensils {
  margin-right: 16px;
}

/*header accueil*/
.logo {
  margin: 1rem;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 63px;
}
.logo__img {
  padding: 12px;
}

/*header menu*/
.fonctionnement {
  padding: 20px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

.btn-bloc {
  margin-top: 23px;
}
.btn-bloc__btn-fonctionnement {
  display: flex;
  width: 100%;
  padding: 23px 0;
  align-items: center;
  border-radius: 15px;
  background-color: #f6f6f6;
  border: none;
  box-shadow: 0px 5px 7px #c6c6c6;
}
.btn-bloc__btn-fonctionnement:hover {
  transform: scale(1.02);
  background-color: #f5edff;
}
.btn-bloc__btn-number {
  background-color: #9356dc;
  padding: 5px 10px;
  margin-left: -12px;
  margin-right: 25px;
  color: white;
  border-radius: 50%;
}
.btn-bloc__btn-text {
  font-weight: bold;
}
.btn-bloc__btn-icon {
  margin-right: 25px;
  color: #7e7e7e;
}
.btn-bloc__btn-icon :hover {
  color: #9356dc;
}

.fas fa-mobile-alt {
  font-size: 1.2rem;
  margin-right: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c6c6c6;
  padding: 3rem;
  text-align: center;
}
.description__p {
  margin-top: 1rem;
  font-size: 20px;
  color: #6e6e6e;
}

.section-restaurant {
  background-color: #c6c6c6;
  padding: 53px 20px 63px 20px;
}

.restaurant {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.restaurant__card {
  height: 250px;
  border-radius: 17px;
  position: relative;
  box-shadow: 0 5px 7px blue;
  background-color: white;
}
.restaurant__card-img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0 0;
}
.restaurant__card-description {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.restaurant__card-reference {
  color: black;
}
.restaurant__card-lien {
  text-decoration: none;
}
.restaurant__card-label {
  position: absolute;
  right: 11px;
  top: 14px;
  border: 1px solid #99e2d0;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #4cb49b;
  padding: 10px;
}
.restaurant__card-icon {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
