

/*button header */
.location {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background-color: $color-background;
  box-shadow: inset 0 10px 5px -8px #c5c4c4;

  &__input {
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: inherit;
    width : 150px;
  }
}

/*bouton accueil description - créer une mixin - media*/
.btn {
  margin: 2rem;
  display: flex;
  justify-content: center;

  &__btn-principal {
    font-size: 16px;
    padding: 18px;
    color: #fff;
    background: $color-linear;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 5px #c6c6c6;
    transition: 1s;
    font-weight: bold;
    width : 218px;


    @media (min-width: $tablet) {/*-modif-*/
      width : 400px;
      width : 100%;
      &:hover {
        transform: scale(1.15);

      }
    }
  }
}
