.restaurant {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 17px;
  &__bloc {
    display: flex;
    flex-direction: column;
    gap: 17px;
    @media (min-width: $desktop) {
      flex-direction: row;
      display: flex;
      justify-content: space-around;
    }
  }
}
.resto-card {
  height: 250px;
  border-radius: 17px;
  position: relative;
  box-shadow: 0 5px 7px $color-box-shadow;
  background-color: $color-white;

  @media (min-width: $desktop) {
    width: 50%;
    margin: 20px;
  }

  &__img {
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 17px 17px 0 0;
  }
  &__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-radius: 0 0 17px 17px;
    margin-right: 20px;
    @include heart-transition;
  }
  &__reference {
    margin-left: 20px;
    color: $color-black;
  }

  &__lien {
    text-decoration: none;
  }
  &__label {
    @include card-label-bloc;
  }
  &__icon {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  &__title {
    font-family: $font-shrikhand;
    font-size: 25px;
  }
}
