.location{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    background-color: red;
      &__input {
        font-size:20px;
      text-align: center;
      border:none;
      background-color: rgb(128, 0, 111);
      }
  }

  .fas.fa-map-marker-alt {
    font-size: 20px;
  }
