/*color*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-linear: linear-gradient(#ff79da, #9356dc);
$color-background: #f6f6f6;
$color-box-shadow : #c6c6c6;
$color-white : white;
$color-black : black;


/*breakpoint*/
$smartphone : 375px;
$tablet : 768px;
$desktop : 1024px;




$btn-container-size : 218px;

/*police*/
$font-shrikhand:"Shrikhand", "Roboto", sans-serif;